{% load i18n %}{% autoescape off %}
{% blocktrans %}Merhaba {{ user.get_username }},{% endblocktrans %}

{% trans "Lexatech hesabınız için şifre sıfırlama talebinde bulunuldu." %}

{% trans "Şifrenizi sıfırlamak için aşağıdaki bağlantıya tıklayın:" %}
https://www.lexatech.ai{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Kullanıcı adınız (hatırlatma amacıyla):" %} {{ user.get_username }}

{% trans "Bu bağlantı 24 saat boyunca geçerli olacaktır." %}

{% trans "Eğer bu talebi siz yapmadıysanız, bu maili göz ardı edebilirsiniz." %}

{% trans "Saygılarımızla," %}
{% trans "Lexatech Ekibi" %}
{% endautoescape %}